<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
            name="IrcBotConfig"
            type="McJoeAdmin.IrcBot.IrcBotConfig, McJoeAdmin.IrcBot"
            allowLocation="true"
            allowDefinition="Everywhere"
          />
    <section
            name="BackupConfig"
            type="McJoeAdmin.BackupUtility.BackupConfig, McJoeAdmin.BackupUtility"
            allowLocation="true"
            allowDefinition="Everywhere"
          />
  </configSections>
  <appSettings>
    <add key ="mc_startup_folder" value="C:\bin\minecraft"/>
    <!--<add key="mc_exe" value="C:\Program Files\Java\jre6\bin\java"/>-->
    <add key="mc_exe" value="DummyConsole"/>
    <add key="mc_arg0" value="-Xmx1024M"/>
    <add key="mc_arg1" value="-Xms1024M"/>
    <add key="mc_arg2" value="-jar minecraft_snberver.jar"/>
    <add key="mc_arg3" value="nogui"/>
  </appSettings>
  <IrcBotConfig server="irc.gamesurge.net" port="6667" botnick="McJoeBot" channel="#mcjoeadmin"/>
  <BackupConfig interval="60" path="C:\bin\minecrafttest\"/>
</configuration>