<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key ="mc_startup_folder" value="D:\bin\minecraft"/>-->
    <!--<add key="mc_exe" value="C:\Program Files (x86)\Java\jre6\bin\java"/>-->
    <add key="mc_exe" value="DummyConsole"/>
    <add key="mc_arg0" value="-Xmx1024M"/>
    <add key="mc_arg1" value="-Xms1024M"/>
    <add key="mc_arg2" value="-jar MCPatcher.jar"/>
    <add key="mc_arg3" value="nogui"/>
  </appSettings>
</configuration>